<mat-card>
  <mat-tab-group (selectedIndexChange)="shh($event)">
    <div *ngFor="let model of modelArray">
      <mat-tab label="{{model.name}}">
        <div class="row">
          <div class="col-6">
            <p class="name" [innerHTML]="model.name"></p>
            <p class="description" [innerHTML]="model.description"></p>
            <p class="price" style="margin-bottom: 30px">Only {{model.price_per_hour}} dolars per day!</p>

            <mat-grid-list cols="2" rowHeight="2:1">

              <div *ngFor="let item of itemArray">
                <mat-grid-tile>
                  <div class="name_item">
                    <p>Condition: {{item.condition}}</p>
                    <p>Status: {{item.itemstatus}}</p>
                    <button mat-raised-button (click)="reservedItems(item.item_id)">Book it!</button>
                  </div>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
          </div>
          <div class="col-6">
            <img [src]="imageToShow"
                 alt=""
                 *ngIf="!isImageLoading">
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</mat-card>
