@import "../../../shared/mixins";
@import "../../../shared/variables";

.space {
  font-size: 20px;
  padding-bottom: 2em;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
}

.fill {
  flex: 1;
}

.name {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  font-size: $big_font_size;
  font-weight: 700;

}

.description {
  text-align: justify;
}

.price {
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}

.name_item {

  text-align: center;
  justify-content: center;
  font-weight: 300;
}
